schemas/shotoku/RKO0010-250-koa020-prototype.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
    xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
    xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">
  <xsd:annotation>
    <xsd:documentation>
      Project-authored prototype subset derived from NTA RKO0010-250.xsd,
      KOA020-023.xsd, General.xsd, ITdefinition.xsd, and CATALOG.xsd.
      It covers the exact envelope and fields generated by this assignment.
    </xsd:documentation>
  </xsd:annotation>
  <xsd:import
      namespace="http://xml.e-tax.nta.go.jp/XSD/general"
      schemaLocation="../general/prototype-general.xsd"/>

  <xsd:simpleType name="AmountType">
    <xsd:restriction base="xsd:long">
      <xsd:pattern value="-?\d{1,15}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="UserIdType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d{16}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:element name="DATA">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RKO0010" type="RKO0010Type"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:ID"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="RKO0010Type">
    <xsd:sequence>
      <xsd:element name="CATALOG" type="CatalogType"/>
      <xsd:element name="CONTENTS" type="ContentsType"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:ID" use="required"/>
    <xsd:attribute name="VR" use="required" fixed="25.0.0"/>
  </xsd:complexType>

  <xsd:complexType name="CatalogType">
    <xsd:sequence>
      <xsd:any
          namespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
          processContents="lax"
          minOccurs="1"
          maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:ID" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ContentsType">
    <xsd:sequence>
      <xsd:element name="IT" type="ITType"/>
      <xsd:element name="KOA020" type="KOA020Type"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:ID" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ITType">
    <xsd:sequence>
      <xsd:element name="ZEIMUSHO" type="TaxOfficeType"/>
      <xsd:element name="NOZEISHA_ID" type="TaxpayerIdType"/>
      <xsd:element name="NOZEISHA_NM_KN" type="TextWithIdType"/>
      <xsd:element name="NOZEISHA_NM" type="TextWithIdType"/>
      <xsd:element name="NOZEISHA_ADR" type="TextWithIdType"/>
      <xsd:element name="TETSUZUKI" type="ProcedureType"/>
      <xsd:element name="NENBUN" type="TaxYearType"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:ID" use="required"/>
    <xsd:attribute name="VR" use="required" fixed="1.5"/>
  </xsd:complexType>

  <xsd:complexType name="TaxOfficeType">
    <xsd:sequence>
      <xsd:element ref="gen:zeimusho_CD"/>
      <xsd:element ref="gen:zeimusho_NM" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="ID" type="xsd:ID" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="TaxpayerIdType">
    <xsd:simpleContent>
      <xsd:extension base="UserIdType">
        <xsd:attribute name="ID" type="xsd:ID" use="required"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="TextWithIdType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="ID" type="xsd:ID" use="required"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="ProcedureType">
    <xsd:sequence>
      <xsd:element name="procedure_CD" type="ProcedureCodeType"/>
      <xsd:element name="procedure_NM" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="ID" type="xsd:ID" use="required"/>
  </xsd:complexType>
  <xsd:simpleType name="ProcedureCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="RKO0010"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="TaxYearType">
    <xsd:sequence>
      <xsd:element ref="gen:era"/>
      <xsd:element ref="gen:yy"/>
    </xsd:sequence>
    <xsd:attribute name="ID" type="xsd:ID" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="KOA020Type">
    <xsd:sequence>
      <xsd:element name="KOA020-1" type="KOA020Page1Type"/>
    </xsd:sequence>
    <xsd:attribute name="VR" use="required" fixed="23.0"/>
    <xsd:attribute name="softNM" type="xsd:string" use="required"/>
    <xsd:attribute name="sakuseiNM" type="xsd:string" use="required"/>
    <xsd:attribute name="sakuseiDay" type="xsd:date" use="required"/>
    <xsd:attribute name="id" type="xsd:ID"/>
  </xsd:complexType>

  <xsd:complexType name="KOA020Page1Type">
    <xsd:sequence>
      <xsd:element name="ABA00000" type="HeaderType"/>
      <xsd:element name="ABB00000" type="ReturnContentsType"/>
    </xsd:sequence>
    <xsd:attribute name="page" type="xsd:positiveInteger"/>
  </xsd:complexType>

  <xsd:complexType name="HeaderType">
    <xsd:sequence>
      <xsd:element name="ABA00010" type="IdRefType"/>
      <xsd:element name="ABA00030" type="IdRefType"/>
      <xsd:element name="ABA00050" type="TaxpayerHeaderType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TaxpayerHeaderType">
    <xsd:sequence>
      <xsd:element name="ABA00060" type="AddressHeaderType"/>
      <xsd:element name="ABA00130" type="IdRefType"/>
      <xsd:element name="ABA00140" type="IdRefType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AddressHeaderType">
    <xsd:sequence>
      <xsd:element name="ABA00090" type="IdRefType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IdRefType">
    <xsd:attribute name="IDREF" type="xsd:IDREF" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ReturnContentsType">
    <xsd:sequence>
      <xsd:element name="ABB00010" type="GrossReceiptsType"/>
      <xsd:element name="ABB00270" type="IncomeAmountsType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GrossReceiptsType">
    <xsd:sequence>
      <xsd:element name="ABB00090" type="MiscReceiptsType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MiscReceiptsType">
    <xsd:sequence>
      <xsd:element name="ABB00100" type="AmountType"/>
      <xsd:element name="ABB00110" type="AmountType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IncomeAmountsType">
    <xsd:sequence>
      <xsd:element name="ABB00350" type="AmountType"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
